<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Passguard - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="splash-logo">
            <a class="splash-logo-link" href="{{ url_for('pages.index') }}">Passguard</a>
        </div>
        <nav>
            <ul class="nav-list-container">
                {% block navigation %}

                {% endblock %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <span>This project was developed as a learning exercise, use discretion when storing sensitive information.</span>
        {% if g.user %}

        {% endif %}
    </footer>
</body>
</html>