{% extends 'base.html' %}

{% block title %}
Store Credentials
{% endblock %}

{% block styles %}
{% endblock %}

{% block navigation %}
<li class="nav-list-item"><a class="nav-list-link" href="{{ url_for('pages.dashboard') }}">Dashboard</a></li>
{% endblock %}

{% block content %}
<div class="form-container-outer">
    <div class="form-title">
        <h3>Add a Service</h3>
    </div>
    <div class="form-container-inner">
        <form method="post">
            <div class="form-line-item">
                <label for="service_name">Service Name:</label>
                <input class="form-input" type="text" name="service_name" id="service_name" required>
            </div>
            <div class="form-line-item">
                <label for="service_username">Username:</label>
                <input class="form-input" type="text" name="service_username" id="service_username">
            </div>
            <div class="form-line-item">
                <label for="service_password">Password:</label>
                <input class="form-input" type="password" name="service_password" id="service_password" required>
            </div>
            <div class="form-line-item">
                <label for="service_url">URL:</label>
                <input class="form-input" type="text" name="service_url" id="service_url">
            </div>
            <div class="form-line-item-submit">
                <input type="submit" value="submit">
                <input type="button" onclick="cancel()" value="Cancel">
            </div>
        </form>
    </div>
</div>

<script>
    function cancel() {
        window.location.href = "{{ url_for('pages.dashboard') }}";
    }
</script>
{% endblock %}
