{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
{% endblock %}

{% block navigation %}
    <li class="nav-list-item"><a class="nav-list-link" href="{{ url_for('auth.logout') }}">Sign Out</a></li>
    <li class="nav-list-item"><a class="nav-list-link" href="{{ url_for('pages.add') }}">Add Credential</a></li>
    <li class="nav-list-item"><a class="nav-list-link" href="{{ url_for('pages.update') }}">Update</a></li>
    {% endblock %}

{% block content %}
<div class="service-container-outer">
    <div class="service-list">
        {% if not services %}
        <div class="service-list-add">
            <a href="{{ url_for('pages.add') }}">Add some credentials</a>
        </div>
        {% endif %}

        {% for service in services %}
            <div class="service">
                <div class="service-name">
                    {{ service['service_name'] }}
                </div>
                <div class="service-detail">
                    Username: {{ service['service_username'] }}
                </div>
                <div class="service-detail">
                    <span id="password_{{ service['service_id'] }}" class="service-password">Password: ********</span>
                </div>
                <div class="service-detail">
                    URL: <a href="{{ service['service_url'] }}">{{ service['service_url'] }}</a>
                </div>
                <div class="service-button-bar">
                    <div class="service-button-bar-button">
                        <button onclick="showPassword({{ service['service_id'] }})" class="btn-show">Show Password</button>
                    </div>
                    <div class="service-button-bar-button">
                        <button onclick="hidePassword({{ service['service_id'] }})" class="btn-show">Hide Password</button>
                    </div>
                    <div class="service-button-bar-button">
                        <button onclick="update({{ service['service_id'] }})">Update</button>
                    </div>
                    <div class="service-button-bar-button">
                        <button onclick="remove({{ service['service_id'] }})">Remove</button>
                    </div>
                </div> 
            </div>

            {% if loop.last %}
            <div class="service-list-add">
                <a href="{{ url_for('pages.add') }}">Add Credential</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    // Fetch decrypted password
    function showPassword(serviceId) {
    fetch(`/decrypt/${serviceId}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById(`password_${serviceId}`).textContent = "Password: " + data.password;
        });
    }

    // Hide decrypted password
    function hidePassword(serviceId) {
        document.getElementById(`password_${serviceId}`).textContent = "Password: ********";
    }

    // Store a service_id in the session and redirect to update form
    function update(serviceId) {
        // Create a form to send the selected service_id to the backend
        var formdata = new FormData();
        formdata.append('service_id', serviceId);

        // Fetch the endpoint
        fetch('/process-service-id', {
            method: 'POST',
            body: formdata,
        }) // Process the response from the server, ensure status is ok
        .then( response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json;
        }) // Handle data 
        .then(data => {
            console.log('Success', data);
            // Redirect to update form page
            window.location.href = "{{ url_for('pages.update') }}";
        })
    }

    // Remove a Service
    function remove(serviceId) {
        var formdata = new FormData();
        formdata.append('service_id', serviceId);
        if(confirm("Delete these credentials? This action cannot be reversed.")) {
            fetch('/remove-service', {
                method: 'POST',
                body: formdata,
            })
            .then( response => {
                if (!response.ok) {
                    throw new Error('Network response was not OK. ' + response.statusText);
                }
                return response.json;
            })
            .then( data => {
                console.log('success', data);
                window.location.reload();
            })
        } else {}
    }
</script>
{% endblock %}